[Unit]
Description=GMediaRender DLNA Renderer
After=network.target sound.target

[Service]
ExecStart=/usr/bin/gmediarender -f "DSP-Streamer" --backend alsa --output-device hw:Loopback,0,0
Restart=always
User=nobody
Group=audio

[Install]
WantedBy=multi-user.target
